#livelo-everis-chat {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika', Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
