
$msg-color: $text;
$like-color: $primary;

.lv-msg-icon-livelo {
  width: 64px;
  position: absolute;
  top: -6px;
  left: 4px;
}

.lv-msg-wrap-bot {
  display: inline-block;
  padding: 15px;
  margin: 0px 10px 0 82px;
  border-radius: 0 10px 10px 10px;
  color: $msg-color;
  font-weight: 200;
  font-size: 13px; //Alterado pra 13px
  background-color: white;
  &:before{
    position: absolute;
    left: 70px;
    top: 0;
    content:"";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 100;

    border-top: 0px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid white;
  }
  p {
    padding: 0;
    margin: 0;
    line-height: 20px;
  }
}

.lv-msg-bot-like {
  &-wrap {
    position: relative;
    display: inline-block;
    height: 17px;
    width: 100%;
    margin-top: 10px;
  }
  &-icons {
    float: right;
    img {
      cursor: pointer;
    }
  }
  &-icon {
    &-like {
      margin-left: 12px;
    }
    &-unlike {
      margin-left: 6px;
    }
    &-like,
    &-unlike {
      max-height: 16px;
      max-width: 16px;
    }
  }
  &-text {
    position: relative;
    display: inline-block;
    color: $like-color;
    font-size: 11px;
    line-height: 17px;
    height: 17px;
  }
}

.lv-msg-list {
  list-style: none;
  padding: 0;
}

.lv-msg-buttons {
  margin: 8px -8px 0 -8px;
  li {
    display: inline-block;
    padding: 0;
    margin: 0 4px 0 0;
    button {
      text-align: center;
      min-width: 34%;
    }
  }
}

#chatTypingGif{
  width: 25px;
}

.lv-msg-carrossel {
  margin-top: 8px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  &-box {
    display: inline-block;
    border-radius: 8px;
    border: 1px rgba(126,125,194,1) solid;
    margin: 8px 12px 8px 0;
    box-sizing: border-box;
    padding: 10px 14px 56px 14px;
    min-width: 200px;
    max-width: 230px;
    background: white;
    color: rgba(42,41,130,1);
    vertical-align: top;
    min-height: 172px;
    position: relative;
    &:first-child {
      margin-left: 88px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  &-content {
    display: block;
    margin-bottom: 4px;
  }
  &-listcontent {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 16px;
    list-style: disc;
    li {
      white-space: normal;
      margin-bottom: 2px;
      line-height: 18px;
    }
  }
  &-more {
    cursor: pointer;
    color: rgba(237,7,126,1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    text-align: center;
    border-radius: 0 0 8px 8px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    border-top: 1px rgba(220,220,220,1) solid;
    @include transition(background-color .4s, color .4s, border-top .4s);
    &:hover {
      border-top: 1px rgba(40,39,129,1) solid;
      color: white;
      background-color: rgba(40,39,129,1);
    }
  }
}
